.a-options{
  padding: 10px;
  border: 3px solid black;
  border-radius: 13px;
  width: 250px;
  text-align: center;
  margin: 20px auto 0 auto;
}

.a-options :hover{
  color: red;
  font-weight: 900;
}

.a-link{
  text-decoration: none;
  color: black;
}

.a-title{
  text-align: center;
}
