.heading{
  position: relative;
  padding: 1px;
  display: flex;
  left: 0;
  right: 0;
  top: 0; 
  background-color: rgb(0, 0, 0);
  border: 1px solid #00ffff;
  text-align: center;
}

.title{
  margin: auto;
  padding: 10px;
}

.signon {
  text-decoration: none;
  color: rgb(255, 255, 255);
  justify-content: left;
}

li{
  /* color: white; */
  margin: auto;
  list-style: none;
}
