.heading{
  position: relative;
  padding: 1px;
  display: flex;
  left: 0;
  right: 0;
  top: 0; 
  background-color: blueviolet;
  text-align: center;
}

.title{
  margin: auto;
  padding: 10px;
}

.signon {
  text-decoration: none;
  color: black;
  justify-content: left;
}
li{
  margin: auto;
  list-style: none;
}
