.i-post {
  padding: 10px;
  margin: 100px, 0;
  color: black;
  text-decoration: none;
}
.a-post {
  padding: 10px;
  margin: 100px, 0;
  color: black;
  text-decoration: none;
}

.forum {
  margin-bottom: 9%;
}