.post-view{
  margin: 45px;
  width: 600px;
}

.post-question{
  width: 624px;
  overflow-wrap: break-word;
}

.post-elaboration{
  width: 600px;
  overflow-wrap: break-word;
}

.comment-section{
  color: darkred;
  border: solid black 2px;
  width: 600px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  padding: 10px
}

.edit-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 89, 255);
  padding: 10px;
  font-weight: 900;
  font-size: 14px;
  border-radius: 20%;
}

.delete-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 6, 6);
  padding: 10px;
  font-weight: 900;
  font-size: 14px;
  border-radius: 20%;
}

.edit-button:hover{
  background-color: rgb(0, 89, 255);
  color: white
}

.delete-button:hover{
  background-color: rgb(255, 6, 6);
  color:rgb(255, 255, 255)
}
