#comment-box{
  width: 600px;
  padding: 10px;
  resize: none;
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  border:1px solid white;
}

.comment-form {
  margin: 10px 0;
}

.comment-entry{
  width: 624px;
}
