footer {
  background-color: rgb(140, 140, 140);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  animation: dropFooter;
  animation-iteration-count: 1;
  animation-timing-function: ease-in ;
  animation-duration: 1s;
}


.footer-list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  
}

.f-item{
  text-decoration: none;
}

@keyframes pullUpFooter {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropFooter {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}