footer {
  background-color: rgb(140, 140, 140);
  position: fixed;
  bottom: -65px;
  left: 0;
  right: 0;
  transition: bottom 0.5s ease-in-out;
}

footer:hover{
  animation: pullUpFooter;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: .6s;
  bottom: 0;
}


.footer-list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  
}

.f-item{
  text-decoration: none;
}

@keyframes pullUpFooter {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
