.post-entry{
  animation: flip-in-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.off-mode {
  display: none;
}

.form{
  border: 2px solid black;
  padding: 6px;
}

#elaboration-box {
  width: 70%;
  padding: 10px;
  resize: none;
  font-family: 'Source Code Pro', monospace;
}

#question-box{
  width: 50%;
  padding: 10px;
  resize: none;
  margin-bottom: 5px;
  font-family: 'Source Code Pro', monospace;
}

.submit-button{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 250, 46);
  padding: 10px;
  font-weight: 900;
  font-size: 14px;
  border-radius: 20% ;
}

.submit-button:hover{
  background-color: rgb(0, 250, 46);
  border-color: black;
}

.post-edit {
  text-align: center;
}

#hide-entry {
  border: 0px;
  background-color: transparent;
  color: red;
  font-weight: 900;
}

@keyframes flip-in-hor-top {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}